In [2]:
import pandas as pd 
import numpy as np 
import sqlalchemy as sal

In [3]:
hotel_data_2018 = pd.read_excel(r"C:\Users\wanji\Desktop\Hotel Data\Hotel-DB\hotel_revenue_historical_full-2.xlsx")
hotel_data_2018

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,85,2018,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.00,0,1,Canceled,2018-05-06
1,Resort Hotel,1,75,2018,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled,2018-04-22
2,Resort Hotel,1,23,2018,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,2018-06-23
3,Resort Hotel,1,60,2018,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.00,0,2,Canceled,2018-05-11
4,Resort Hotel,1,96,2018,July,27,1,2,8,2,...,No Deposit,NaN,NaN,0,Transient,108.30,0,2,Canceled,2018-05-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21991,City Hotel,1,24,2018,December,53,27,2,1,2,...,No Deposit,28.0,NaN,0,Transient,58.00,0,0,No-Show,2018-12-27
21992,City Hotel,1,1,2018,December,53,27,2,4,2,...,No Deposit,NaN,NaN,0,Transient,147.67,0,0,No-Show,2018-12-27
21993,City Hotel,1,66,2018,December,53,28,0,5,2,...,No Deposit,9.0,NaN,0,Transient,170.90,0,1,No-Show,2018-12-29
21994,City Hotel,1,54,2018,December,53,30,1,4,2,...,No Deposit,9.0,NaN,0,Contract,118.20,0,1,No-Show,2018-12-30
21995,City Hotel,1,54,2018,December,53,30,1,4,2,...,No Deposit,9.0,NaN,0,Contract,118.20,0,1,No-Show,2018-12-30

In [4]:
hotel_data_2019 = pd.read_excel(r"C:\Users\wanji\Desktop\Hotel Data\Hotel-DB\hotel_revenue_historical_full-2.xlsx",'2019')
hotel_data_2019

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,20,2019,January,1,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,119.00,0,0,Canceled,2018-12-22
1,Resort Hotel,1,76,2019,January,1,1,1,2,2,...,No Deposit,240.0,NaN,0,Transient,57.90,0,1,Canceled,2018-12-20
2,Resort Hotel,1,113,2019,January,1,2,0,1,2,...,Non Refund,305.0,NaN,0,Transient,72.00,0,0,Canceled,2018-11-16
3,Resort Hotel,1,113,2019,January,1,2,0,1,2,...,Non Refund,305.0,NaN,0,Transient,72.00,0,0,Canceled,2018-11-16
4,Resort Hotel,1,113,2019,January,1,2,0,1,2,...,Non Refund,305.0,NaN,0,Transient,72.00,0,0,Canceled,2018-11-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79259,Resort Hotel,1,61,2019,March,10,1,4,10,2,...,No Deposit,171.0,NaN,0,Transient,29.00,0,0,Check-Out,2019-01-06
79260,Resort Hotel,1,219,2019,March,10,2,2,5,2,...,Non Refund,310.0,NaN,0,Transient,52.00,0,0,Check-Out,2018-11-20
79261,Resort Hotel,1,219,2019,March,10,2,2,5,2,...,Non Refund,310.0,NaN,0,Transient,52.00,0,0,Check-Out,2018-11-20
79262,Resort Hotel,1,219,2019,March,10,2,2,5,2,...,Non Refund,310.0,NaN,0,Transient,52.00,0,0,Check-Out,2018-11-20
79263,Resort Hotel,1,118,2019,March,10,2,2,5,2,...,No Deposit,241.0,NaN,0,Transient,33.26,0,0,Check-Out,2019-01-27

In [5]:
hotel_data_2020 = pd.read_excel(r"C:\Users\wanji\Desktop\Hotel Data\Hotel-DB\hotel_revenue_historical_full-2.xlsx", '2020')
hotel_data_2020

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,74,2020,January,1,1,1,0,2,...,No Deposit,5.0,NaN,0,Transient,57.60,0,0,Canceled,2019-10-20
1,Resort Hotel,1,62,2020,January,1,1,2,2,2,...,No Deposit,240.0,NaN,0,Transient,51.50,0,1,Canceled,2019-12-04
2,Resort Hotel,1,62,2020,January,1,1,2,2,2,...,No Deposit,240.0,NaN,0,Transient,51.50,0,1,Canceled,2019-11-11
3,Resort Hotel,1,62,2020,January,1,1,2,2,2,...,No Deposit,240.0,NaN,0,Transient,51.50,0,1,Canceled,2019-12-04
4,Resort Hotel,1,71,2020,January,1,1,2,2,1,...,No Deposit,241.0,NaN,0,Transient,32.22,0,1,Canceled,2019-10-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40682,City Hotel,1,1,2020,February,5,1,0,0,1,...,No Deposit,NaN,153.0,0,Transient,0.00,0,1,No-Show,2020-02-01
40683,City Hotel,1,31,2020,July,29,16,2,0,1,...,No Deposit,NaN,NaN,0,Transient,135.00,0,2,No-Show,2020-07-16
40684,City Hotel,1,25,2020,May,18,6,2,1,1,...,No Deposit,NaN,450.0,0,Transient,125.00,0,0,No-Show,2020-05-06
40685,City Hotel,1,6,2020,July,29,17,1,0,1,...,No Deposit,NaN,238.0,0,Transient,65.00,0,0,No-Show,2020-07-17
40686,City Hotel,1,0,2020,August,31,2,0,2,1,...,No Deposit,NaN,40.0,0,Transient,65.00,0,1,No-Show,2020-08-02

In [6]:
meal_cost = pd.read_excel(r"C:\Users\wanji\Desktop\Hotel Data\Hotel-DB\hotel_revenue_historical_full-2.xlsx", 'meal_cost')
meal_cost

    Cost       meal
0   0.00  Undefined
1  12.99         BB
2  17.99         HB
3  21.99         FB
4  35.00         SC

In [7]:
market_segment = pd.read_excel(r"C:\Users\wanji\Desktop\Hotel Data\Hotel-DB\hotel_revenue_historical_full-2.xlsx", 'market_segment')
market_segment

   Discount market_segment
0      0.00      Undefined
1      0.10         Direct
2      0.10         Groups
3      0.15      Corporate
4      0.20       Aviation
5      0.30  Offline TA/TO
6      0.30      Online TA
7      1.00  Complementary

In [8]:
# Load the data to the sql server 
import sqlalchemy as sal

# Define your PostgreSQL details
username = 'postgres'
password = 'Edna90!'
hostname = 'localhost'
port = '5432'

In [9]:
# Create the SQLAlchemy engine
engine = sal.create_engine(f'postgresql+psycopg2://{username}:{password}@{hostname}:{port}/postgres')

# Write hotel data for each year to hotel_table
hotel_data_2018.to_sql('hotel_table', con=engine, if_exists='append', index=False)

996

In [10]:
hotel_data_2019.to_sql('hotel_table', con=engine, if_exists='append', index=False)

264

In [11]:
hotel_data_2020.to_sql('hotel_table', con=engine, if_exists='append', index=False)

687

In [12]:
# Write meal_cost and market_segment data
meal_cost.to_sql('meal_cost', con=engine, if_exists='replace', index=False)

5

In [13]:
market_segment.to_sql('market_segment', con=engine, if_exists='replace', index=False)

8

In [14]:
# # Function to query and display data
# def query_and_display(query):
#     result = engine.execute(query)
#     for row in result:
#         print(row)

# # Query samples
# query_hotel_table = "SELECT * FROM hotel_table LIMIT 10;"
# query_meal_cost = "SELECT * FROM meal_cost;"
# query_market_segment = "SELECT * FROM market_segment;"

# print("Sample data from hotel_table:")
# query_and_display(query_hotel_table)

# print("\nSample data from meal_cost:")
# query_and_display(query_meal_cost)

# print("\nSample data from market_segment:")
# query_and_display(query_market_segment)